assignment-2-image-segmentation/seg-net/data
/home/quentin/Desktop/ETH/Courses/cv/assignment-4-model-fitting/codes/mvs/dtu_dataset/scan?
/home/quentin/Desktop/ETH/Courses/cv/assignment-4-model-fitting/codes/mvs/dtu_dataset/scan??
